<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="m-4">
    <h1>Person</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>First name</th>
            <td th:text="${person.firstName}"></td>
        </tr>
        <tr>
            <th>Family name</th>
            <td th:text="${person.familyName}"></td>
        </tr>
        </tbody>
    </table>

    <a href="/people">back to list</a>

    <a th:href="@{/people/{id}/edit(id=${personId})}">edit</a>

    <form th:action="@{/people/{id}/delete(id=${personId})}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <button class="btn">Delete</button>
    </form>
</div>
</body>
</html>
